<div class="row">
    <h2 cb-i18n="content.angular.body"></h2>
    <p cb-i18n="content.angular.page_1"></p>
    <p>
        <button class="btn btn-primary" ng-click="switchToPage('dynamic-page-2')" cb-i18n="content.angular.link.page_2"></button>
    </p>

    <form class="form-inline">
        <div class="form-group">
            <input class="form-control" ng-model="demoInput1"/>
            <input class="form-control" ng-model="demoInput2"/>
        </div>
    </form>

    <p><span cb-i18n="content.angular.product"></span> {{product() | number}}</p>
</div>
