<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <base th:href="@{/}"/>
    <meta charset="utf-8"/>
    <title th:text="#{application.title}"></title>
    <meta name="current-locale" th:content="${T(org.springframework.context.i18n.LocaleContextHolder).getLocale()}"/>

    <link rel="stylesheet"
          th:href="@{/webjars/cat-boot-sample-ui/{version}/cat-boot-sample-ui.css(version=${T(cc.catalysts.boot.sample.BuildInfo).VERSION})}"/>
</head>
<body>

<div class="container i18n-hidden">

    <div class="row">
        <div class="pull-right">
            <form th:action="@{/}" method="get">
                <fieldset>
                    <select name="lang"
                            class="form-control"
                            onchange="this.form.submit()">
                        <option value="en" th:selected="__${#locale}__=='en'">English</option>
                        <option value="de" th:selected="__${#locale}__=='de'">Deutsch</option>
                    </select>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="row">
        <ul class="nav nav-pills">
            <li role="presentation"><a th:href="@{/}" th:text="#{page.thymeleaf}"></a></li>
            <li role="presentation"><a th:href="@{/angular}" target="_self" class="active" th:text="#{page.angular}"></a></li>
        </ul>
    </div>

    <div ng-view=""></div>
</div>

<script webjars:src="system.js:dist/system.js"></script>
<script th:src="@{/webjars/cat-boot-sample-ui/{version}/webjar-config.js(version=${T(cc.catalysts.boot.sample.BuildInfo).VERSION})}"></script>
<script th:src="@{/webjars/cat-boot-sample-ui/{version}/cat-boot-sample-ui-bundle.js(version=${T(cc.catalysts.boot.sample.BuildInfo).VERSION})}"
        th:if="${@environment.acceptsProfiles('ui-bundle')}"></script>
<script>
    System.import('js/cat-boot-sample-ui.js').then(null, console.error.bind(console));
</script>

</body>
</html>