<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <base th:href="@{/}"/>
    <meta charset="utf-8"/>
    <title>Thymeleaf page</title>

    <link rel="stylesheet"
          th:href="@{/webjars/cat-boot-sample-ui/{version}/cat-boot-sample-ui.css(version=${T(cc.catalysts.boot.sample.BuildInfo).VERSION})}"/>
</head>
<body>

<div class="container i18n-hidden">

    <div class="row">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a th:href="@{/}">Thymeleaf page</a></li>
            <li role="presentation"><a th:href="@{/angular}">Angular page</a></li>
        </ul>
    </div>

    <div class="row">
        <p th:text="'Thymeleaf text'">Unprocessed text</p>
    </div>
</div>

</body>
</html>